<html>

<head>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>New Page 1</title>
<link rel="stylesheet" type="text/css" href="style/style.css">

<script language="javascript" type="text/javascript">
function textboxFocus(el, defaultValue) {
	if ( defaultValue != null )	{
		if ( el.value == defaultValue ) {
			el.value = '';
		}
	}
}

function textboxBlur(el, defaultValue) {
	if ( defaultValue != null )	{
		if ( el.value == '' ) {
			el.value = defaultValue;
		}
	}
}
</script>

</head>

<body topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">

<table border="0" width="100%" id="table1" cellspacing="0" cellpadding="0">
	<tr>
		<td class="head">
		<table border="0" width="970" id="table2" cellspacing="0" cellpadding="0">
			<tr>
				<td width="42">
				<img border="0" src="images/02.gif" width="108" height="75"></td>
				<td class="headbanner">
				<table border="0" width="230" id="table4" cellspacing="0" cellpadding="0">
					<tr>
						<td class="login_left">&nbsp;</td>
						<td class="login_center">
						<table border="0" width="90%" id="table5" cellspacing="7" cellpadding="0">
							<tr>
								<td>
<input type="text" value="Tài khoản" onfocus="textboxFocus(this, 'Tài khoản');" onblur="textboxBlur(this, 'Tài khoản');" size="13" name="T4"></td>
								<td>
<input type="text" value="Mật khẩu" onfocus="textboxFocus(this, 'Mật khẩu');" onblur="textboxBlur(this, 'Mật khẩu');" size="13" name="T2"></td>
								<td>
								<img border="0" src="images/login_button.gif" width="17" height="17"></td>
							</tr>
							<tr>
								<td colspan="3" class="cellcenter">
								<a class="link_login" href="#">Quên mật khẩu</a> 
								| <a class="link_login" href="#">Đăng ký tài khoản mới</a></td>
							</tr>
						</table>
						</td>
						<td class="login_right">&nbsp;</td>
					</tr>
				</table>
				</td>
			</tr>
			<tr>
				<td width="42">
				<img border="0" src="images/04.gif" width="108" height="23"></td>
				<td>
				<table border="0" width="468" id="table3" cellspacing="0" cellpadding="0">
					<tr>
						<td class="menu"><a class="link_menu" href="#">trang chủ</a></td>
						<td class="menu_seperate"></td>
						<td class="menu"><a class="link_menu" href="#">trang cá nhân</a></td>
						<td class="menu_seperate"></td>
						<td class="menu"><a class="link_menu" href="#">đăng tin mới</a></td>
						<td class="menu_seperate"></td>
						<td class="menu"><a class="link_menu" href="#">etvee&#39;s blog</a></td>
					</tr>
				</table>
				</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td class="head1">
		<table border="0" width="970" id="table6" cellspacing="0" cellpadding="0">
			<tr>
				<td class="bg_timkiem">
				<table border="0" width="80%" id="table7" cellspacing="5" cellpadding="0">
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp; </td>
						<td><span class="text_bold text_upper">tìm kiếm</span></td>
						<td><input type="text" name="T3" size="33"></td>
						<td><select size="1" name="D1">
						<option selected>------------ Tất cả ------------
						</option>
						</select></td>
						<td>
						<img border="0" src="images/icon_search.gif" width="16" height="16"></td>
						<td><a href="#">Tìm kiếm nâng cao</a></td>
					</tr>
				</table>
				</td>
				<td class="bg_timkiem cellright">
				<table border="0" width="80%" id="table8" cellspacing="5" cellpadding="0">
					<tr>
						<td><span class="text_normal">Xem tin trên </span><span class="text_bold">64 tỉnh/ thành </span></td>
						<td>
						<img border="0" src="images/b_dropdown.gif" width="15" height="16"></td>
					</tr>
				</table>
				</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td class="cellcenter">
		<table border="0" width="970" id="table9" cellspacing="0" cellpadding="0">
			<tr>
				<td class="bg_chude"><span class="text_bold">Chủ đề được tìm kiếm nhiều nhất: </span>
				<a class="link_orange" href="#">Gia sư</a>, <a class="link_orange" href="#">Thiết kế web</a>, <a class="link_orange" href="#">Phát triển phần mềm</a>, <a class="link_orange" href="#">Kỹ sư phần cứng / 
				mạng</a>, <a class="link_orange" href="#">Kế toán/Tài chính</a>, <a class="link_orange" href="#">Thẩm mỹ viện / Spa / Nails, Bảo vệ</a> </td>
			</tr>
		</table>
		</td>
	</tr>
</table>

<div align="center">
	<table border="0" width="970" id="table10" cellspacing="0" cellpadding="0">
		<tr>
			<td width="760" class="celltop">&nbsp;</td>
			<td width="10">&nbsp;</td>
			<td width="200" class="celltop">&nbsp;</td>
		</tr>
		<tr>
			<td width="760" class="celltop">
			<table border="0" width="100%" id="table13" cellspacing="0" cellpadding="0" class="table_thumb">
				<tr>
					<td class="thumb_left">&nbsp;</td>
					<td>&nbsp;</td>
					<td class="thumb_right">&nbsp;</td>
				</tr>
			</table>
			<table border="0" width="100%" id="table14" cellspacing="0" cellpadding="0">
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td class="celltop">
					<table border="0" width="100%" id="table24" class="xanhla" cellspacing="0" cellpadding="0">
						<tr>
							<td class="celltop">
							<table border="0" width="100%" id="table27" cellspacing="0" cellpadding="0">
								<tr>
									<td width="6%">
									<img border="0" src="images/xanhla_icon.gif" width="16" height="19"></td>
									<td width="41%" class="xanhla_text">cộng 
									đồng</td>
									<td width="7%">&nbsp;</td>
									<td width="45%">&nbsp;</td>
								</tr>
								<tr>
									<td width="6%">&nbsp;</td>
									<td colspan="3">
							<table border="0" width="100%" id="table28" cellspacing="0" cellpadding="3">
								<tr>
									<td colspan="4">
									&nbsp;</td>
								</tr>
								<tr>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";'>
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Tìm bạn trai</td>
									<td>&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";'>
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Lost &amp; Found</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";'>
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Tìm bạn gái </td>
									<td>&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";'>
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Các sự kiện</td>
									<td>&nbsp;</td>
								</tr>
								</table>
									</td>
								</tr>
								<tr>
									<td width="6%">&nbsp;</td>
									<td width="41%">&nbsp;</td>
									<td width="7%">&nbsp;</td>
									<td width="45%">&nbsp;</td>
								</tr>
								<tr>
									<td width="6%">&nbsp;</td>
									<td width="41%">
									<img border="0" src="images/banner_clbtinhnguyen.jpg" width="115" height="101"></td>
									<td width="7%">&nbsp;</td>
									<td width="45%">
									<img border="0" src="images/banner_clbgame.jpg" width="115" height="101"></td>
								</tr>
							</table>
							</td>
							<td class="celltop cellright">
							<table border="0" width="100%" id="table26" cellspacing="0" cellpadding="5">
								<tr>
									<td>
									<img border="0" src="images/banner_clbbongda.jpg" width="195" height="55"></td>
								</tr>
								<tr>
									<td>
									<img border="0" src="images/banner_clbbongro.jpg" width="195" height="55"></td>
								</tr>
								<tr>
									<td>
									<img border="0" src="images/banner_clbnghethuat.jpg" width="195" height="55"></td>
								</tr>
							</table>
							</td>
						</tr>
					</table>
					<br>
					<table border="0" width="100%" id="table19" cellpadding="0" class="cam" cellspacing="0">
						<tr>
							<td width="10" class="cam_icon">&nbsp;</td>
							<td width="494" class="cam_bg">việc làm</td>
						</tr>
						<tr>
							<td colspan="2">
							<table border="0" width="100%" id="table25" cellspacing="0" cellpadding="3">
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="179">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Gia sư</td>
									<td width="116">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";'>
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Tư vấn luật</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="179">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Thu ngân/Phát tờ rơi</td>
									<td width="116">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";'>
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Thiết kế mỹ thuật, web</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="179">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Lập trình viên/DBA</td>
									<td width="116">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";'>
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Biểu diễn nghệ thuật</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="179">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Lập trình Web/Web admin</td>
									<td width="116">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";'>
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Dịch thuật/Đánh máy</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="179">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Network/System</td>
									<td width="116">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";'>
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Y sỹ/Phòng mạch</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="179">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Kế toán/Tài chính</td>
									<td width="116">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";'>
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									NGO/Nước ngoài</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="179">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Ngân hàng/Chứng khoán</td>
									<td width="116">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";'>
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Salon/Spa/Nails</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="179">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									PR/Marketing</td>
									<td width="116">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";'>
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Tiếp tân/Bồi bàn</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="179">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Sale/Quản lý/Trợ lý </td>
									<td width="116">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";'>
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Bảo vệ/Bán hàng </td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="179">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Thư ký/Văn phòng</td>
									<td width="116">&nbsp;</td>
									<td>
									&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td colspan="2" class="more_portlet">
							<table border="0" width="100%" id="table20" cellspacing="0" cellpadding="0">
								<tr>
									<td><span class="text_orange">10246</span> tin</td>
									<td class="cellright cell_xemthem">
							<a class="link_more" href="#">xem thêm</a>&nbsp;
							<img border="0" src="images/bullet1.gif" width="8" height="7"></td>
								</tr>
							</table>
							</td>
						</tr>
					</table>

					</td>
					<td width="10">&nbsp;</td>
					<td width="240" class="celltop">
					<table border="0" width="240" id="table15" cellpadding="0" class="xanhduong" cellspacing="0">
						<tr>
							<td width="47" class="xanhduong_icon">&nbsp;</td>
							<td width="183" class="xanhduong_bg">nhà trọ</td>
						</tr>
						<tr>
							<td colspan="2">
							<table border="0" width="100%" id="table21" cellspacing="0" cellpadding="3">
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";'>
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Nhà dãy</td>
									<td>&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";'>
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Nhà mặt đất</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";'>
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Chia sẽ phòng </td>
									<td>&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";'>
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Văn phòng </td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";'>
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Nhà chung cư</td>
									<td>&nbsp;</td>
									<td>
									&nbsp;</td>
									<td>&nbsp;</td>
								</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td colspan="2" class="more_portlet">
							<table border="0" width="100%" id="table16" cellspacing="0" cellpadding="0">
								<tr>
									<td><span class="text_orange">10246</span> tin</td>
									<td class="cellright cell_xemthem">
							<a class="link_more" href="#">xem thêm</a>&nbsp;
							<img border="0" src="images/bullet1.gif" width="8" height="7"></td>
								</tr>
							</table>
							</td>
						</tr>
					</table>
					<br>
					<table border="0" width="240" id="table19" cellpadding="0" class="hong" cellspacing="0">
						<tr>
							<td width="47" class="hong_icon">&nbsp;</td>
							<td width="183" class="hong_bg">dịch vụ tiện ích</td>
						</tr>
						<tr>
							<td colspan="2">
							<table border="0" width="100%" id="table22" cellspacing="0" cellpadding="3">
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="147">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Tin khuyến mãi</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="147">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Cầm đồ / Cho vay</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="147">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Chăm sóc sức khỏe</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="147">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									In ấn/Photo</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="147">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Dịch thuật/Đánh máy</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="147">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Đặt tour/Thuê xe</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="147">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Hộ chiếu/Visa</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="147">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Làm đẹp</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="147">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Tư vấn luật</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="147">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Giặt ủi/Thuê quần áo</td>
									<td>&nbsp;</td>
								</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td colspan="2" class="more_portlet">
							<table border="0" width="100%" id="table20" cellspacing="0" cellpadding="0">
								<tr>
									<td><span class="text_orange">10246</span> tin</td>
									<td class="cellright cell_xemthem">
							<a class="link_more" href="#">xem thêm</a>&nbsp;
							<img border="0" src="images/bullet1.gif" width="8" height="7"></td>
								</tr>
							</table>
							</td>
						</tr>
					</table>
					<br>
					<table border="0" width="240" id="table19" cellpadding="0" class="tim" cellspacing="0">
						<tr>
							<td width="47" class="tim_icon">&nbsp;</td>
							<td width="183" class="tim_bg">mua sắm</td>
						</tr>
						<tr>
							<td colspan="2">
							<table border="0" width="100%" id="table23" cellspacing="0" cellpadding="3">
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="194">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Sách</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="194">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									PC/Laptop</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="194">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Di động</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="194">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Đồ cho không</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="194">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Đồ điện tử</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="194">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Xe đạp/xe máy/Ôtô</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="194">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Quần áo/Túi sách</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="194">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Trang sức/Mỹ phẩm</td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="194">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Tài khoản game, rapidshare… </td>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td width="4">&nbsp;</td>
									<td class="link_cate" onMouseOver="this.className='link_cate_hover';" onMouseOut="this.className='link_cate_out';" onclick='location.href="#";' width="194">
									<img border="0" src="images/bullet2.gif" width="5" height="5"> 
									Đồ gia dụng </td>
									<td>&nbsp;</td>
								</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td colspan="2" class="more_portlet">
							<table border="0" width="100%" id="table20" cellspacing="0" cellpadding="0">
								<tr>
									<td><span class="text_orange">10246</span> tin</td>
									<td class="cellright cell_xemthem">
							<a class="link_more" href="#">xem thêm</a>&nbsp;
							<img border="0" src="images/bullet1.gif" width="8" height="7"></td>
								</tr>
							</table>
							</td>
						</tr>
					</table>

					</td>
				</tr>
			</table>
			</td>
			<td width="10">&nbsp;</td>
			<td width="200" class="celltop">
			<table border="0" width="100%" id="table11" cellspacing="0" cellpadding="0">
				<tr>
					<td>
					<table border="0" width="100%" id="table12" cellspacing="0" cellpadding="0" class="table_tintuc">
						<tr>
							<td class="head_tintuc" colspan="2">&nbsp;</td>
						</tr>
						<tr>
							<td class="listnew_icon celltop" width="3%">
							<img border="0" src="images/bullet3.gif" width="5" height="10"></td>
							<td class="listnew_text" width="87%">
							<a class="link_new" href="#">fgfugfig lghf 
							fgh kfjghf gjkh fkgjhf gjkh kjfhg kjhg jkfgh jkfgh 
							fkjghfk gjkfhg</a></td>
						</tr>
						<tr>
							<td class="listnew_icon celltop" width="3%">
							<img border="0" src="images/bullet3.gif" width="5" height="10"></td>
							<td class="listnew_text" width="87%">
							<a class="link_new" href="#">fgfugfig lghf 
							fgh kfjghf gjkh fkgjhf gjkh kjfhg kjhg jkfgh jkfgh 
							fkjghfk gjkfhg</a></td>
						</tr>
						<tr>
							<td class="listnew_icon celltop" width="3%">
							<img border="0" src="images/bullet3.gif" width="5" height="10"></td>
							<td class="listnew_text" width="87%">
							<a class="link_new" href="#">fgfugfig lghf 
							fgh kfjghf gjkh fkgjhf gjkh kjfhg kjhg jkfgh</a> </td>
						</tr>
						<tr>
							<td class="cellright cell_xemthem" width="90%" colspan="2">
							<a class="link_more" href="#">xem thêm</a>&nbsp;
							<img border="0" src="images/bullet1.gif" width="8" height="7"></td>
						</tr>
						<tr>
							<td width="90%" colspan="2">
							&nbsp;</td>
						</tr>
					</table>
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td class="cellcenter">
					<img border="0" src="images/logo_chat.gif" width="200" height="100"></td>
				</tr>
				<tr>
					<td class="cellcenter">&nbsp;</td>
				</tr>
				<tr>
					<td class="cellcenter">
					<img border="0" src="images/logo_banner1.gif" width="190" height="58"></td>
				</tr>
				<tr>
					<td class="cellcenter">&nbsp;</td>
				</tr>
				<tr>
					<td class="cellcenter">
					<img border="0" src="images/logo_banner2.gif" width="190" height="53"></td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td width="760" class="celltop">
			&nbsp;</td>
			<td width="10">&nbsp;</td>
			<td width="200" class="celltop">
			&nbsp;</td>
		</tr>
	</table>
</div>

<table border="0" width="100%" id="table29" cellspacing="0" cellpadding="0" class="table_footer">
	<tr>
		<td>Lượt truy cập thứ: <span class="text_orange">001000</span></td>
		<td class="cellright">© Bản quyền 2008 Etvee</td>
	</tr>
</table>

</body>

</html>