<html>

<head>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>New Page 1</title>
<link rel="stylesheet" type="text/css" href="style/style.css">

<script language="javascript" type="text/javascript">
function textboxFocus(el, defaultValue) {
	if ( defaultValue != null )	{
		if ( el.value == defaultValue ) {
			el.value = '';
		}
	}
}

function textboxBlur(el, defaultValue) {
	if ( defaultValue != null )	{
		if ( el.value == '' ) {
			el.value = defaultValue;
		}
	}
}
</script>

</head>

<body topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">

<table border="0" width="100%" id="table1" cellspacing="0" cellpadding="0">
	<tr>
		<td class="head">
		<table border="0" width="970" id="table2" cellspacing="0" cellpadding="0">
			<tr>
				<td width="42">
				<img border="0" src="images/02.gif" width="108" height="75"></td>
				<td class="headbanner">
				<table border="0" width="230" id="table4" cellspacing="0" cellpadding="0">
					<tr>
						<td class="login_left">&nbsp;</td>
						<td class="login_center">
						<table border="0" width="90%" id="table5" cellspacing="7" cellpadding="0">
							<tr>
								<td>
<input type="text" value="Tài khoản" onfocus="textboxFocus(this, 'Tài khoản');" onblur="textboxBlur(this, 'Tài khoản');" size="13" name="T4"></td>
								<td>
<input type="text" value="Mật khẩu" onfocus="textboxFocus(this, 'Mật khẩu');" onblur="textboxBlur(this, 'Mật khẩu');" size="13" name="T2"></td>
								<td>
								<img border="0" src="images/login_button.gif" width="17" height="17"></td>
							</tr>
							<tr>
								<td colspan="3" class="cellcenter">
								<a class="link_login" href="#">Quên mật khẩu</a> 
								| <a class="link_login" href="#">Đăng ký tài khoản mới</a></td>
							</tr>
						</table>
						</td>
						<td class="login_right">&nbsp;</td>
					</tr>
				</table>
				</td>
			</tr>
			<tr>
				<td width="42">
				<img border="0" src="images/04.gif" width="108" height="23"></td>
				<td>
				<table border="0" width="468" id="table3" cellspacing="0" cellpadding="0">
					<tr>
						<td class="menu"><a class="link_menu" href="#">trang chủ</a></td>
						<td class="menu_seperate"></td>
						<td class="menu"><a class="link_menu" href="#">trang cá nhân</a></td>
						<td class="menu_seperate"></td>
						<td class="menu"><a class="link_menu" href="#">đăng tin mới</a></td>
						<td class="menu_seperate"></td>
						<td class="menu"><a class="link_menu" href="#">etvee&#39;s blog</a></td>
					</tr>
				</table>
				</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td class="head1">
		<table border="0" width="970" id="table6" cellspacing="0" cellpadding="0">
			<tr>
				<td class="bg_timkiem">
				<table border="0" width="80%" id="table7" cellspacing="5" cellpadding="0">
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp; </td>
						<td><span class="text_bold text_upper">tìm kiếm</span></td>
						<td><input type="text" name="T3" size="33"></td>
						<td><select size="1" name="D1">
						<option selected>------------ Tất cả ------------
						</option>
						</select></td>
						<td>
						<img border="0" src="images/icon_search.gif" width="16" height="16"></td>
						<td><a href="#">Tìm kiếm nâng cao</a></td>
					</tr>
				</table>
				</td>
				<td class="bg_timkiem cellright">
				<table border="0" width="80%" id="table8" cellspacing="5" cellpadding="0">
					<tr>
						<td><span class="text_normal">Xem tin trên </span><span class="text_bold">64 tỉnh/ thành </span></td>
						<td>
						<img border="0" src="images/b_dropdown.gif" width="15" height="16"></td>
					</tr>
				</table>
				</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td class="cellcenter">
		<table border="0" width="970" id="table9" cellspacing="0" cellpadding="0">
			<tr>
				<td class="bg_chude"><span class="text_bold">Chủ đề được tìm kiếm nhiều nhất: </span>
				<a class="link_orange" href="#">Gia sư</a>, <a class="link_orange" href="#">Thiết kế web</a>, <a class="link_orange" href="#">Phát triển phần mềm</a>, <a class="link_orange" href="#">Kỹ sư phần cứng / 
				mạng</a>, <a class="link_orange" href="#">Kế toán/Tài chính</a>, <a class="link_orange" href="#">Thẩm mỹ viện / Spa / Nails, Bảo vệ</a> </td>
			</tr>
		</table>
		</td>
	</tr>
</table>

<div align="center">
	<table border="0" width="970" id="table10" cellspacing="0" cellpadding="0">
		<tr>
			<td width="760" class="celltop">&nbsp;</td>
			<td width="10">&nbsp;</td>
			<td width="200" class="celltop">&nbsp;</td>
		</tr>
		<tr>
			<td width="760" class="celltop">
			<table border="0" width="100%" id="table30" cellspacing="0" cellpadding="0">
				<tr>
					<td>
					<table border="0" width="40%" id="table31" cellspacing="0" cellpadding="0">
						<tr>
							<td>Chuyên mục</td>
							<td class="cell_space">&nbsp;</td>
							<td class="cell_cate1 cellright">việc làm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<img border="0" src="images/icon_drop1.gif" width="15" height="14"></td>
							<td class="cell_space">&nbsp;</td>
							<td width="9">
							<img border="0" src="images/icon_arrow.gif" width="9" height="5"></td>
							<td class="cell_space">&nbsp;</td>
							<td class="cell_cate2 cellright">Gia sư&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<img border="0" src="images/icon_drop2.gif" width="15" height="14"></td>
						</tr>
					</table>
					</td>
				</tr>
				<tr>
					<td class="cell_dotted">&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>
					<table border="0" width="100%" id="table39" cellspacing="0" cellpadding="0">
						<tr>
							<td>Xem&nbsp; <select size="1" name="D3">
						<option selected>15
						</option>
						<option>20</option>
						<option>25</option>
						<option>30</option>
						</select>&nbsp; tin</td>
							<td class="cellright">
							<table border="0" width="45%" id="table40" cellspacing="0" cellpadding="2">
								<tr>
									<td>
									<img border="0" src="images/b_pageprevious_invi.gif" width="17" height="17"></td>
									<td>Trang</td>
									<td>
									<input type="text" name="T6" size="3" class="input_page" value="1"></td>
									<td>của tổng cộng <span class="text_orange">100</span> trang</td>
									<td>
									<img border="0" src="images/b_pagenext.gif" width="17" height="17"></td>
								</tr>
							</table>
							</td>
						</tr>
					</table>
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>
					<table border="0" width="100%" id="table34" cellspacing="0" cellpadding="0" class="table_list">
						<tr>
							<td class="head_list">Tiêu đề</td>
							<td class="head_list">Khu vực</td>
							<td class="head_list">Xem</td>
							<td class="head_list">Ngày</td>
						</tr>
						<tr>
							<td class="list_row1">
							<img border="0" src="images/bullet1.gif" width="8" height="7">&nbsp;
							<a class="link_entry" href="#">Gia sư dạy 
							tiếng anh</a></td>
							<td class="list_row1">&nbsp;</td>
							<td class="list_row1_center">&nbsp;</td>
							<td class="list_row1_center">&nbsp;</td>
						</tr>
						<tr>
							<td class="list_row2">
							<img border="0" src="images/bullet1.gif" width="8" height="7">&nbsp; 
							<a class="link_entry" href="#">Gia sư Hà Nội</a></td>
							<td class="list_row2">&nbsp;</td>
							<td class="list_row2_center">&nbsp;</td>
							<td class="list_row2_center">&nbsp;</td>
						</tr>
						<tr>
							<td class="list_row1">
							<img border="0" src="images/bullet1.gif" width="8" height="7">&nbsp; 
							<a class="link_entry" href="#">Nữ Gia Sư Toán,Lý,Hóa(Sư Phạm)</a></td>
							<td class="list_row1">&nbsp;</td>
							<td class="list_row1_center">&nbsp;</td>
							<td class="list_row1_center">&nbsp;</td>
						</tr>
						<tr>
							<td class="list_row2">
							<img border="0" src="images/bullet1.gif" width="8" height="7">&nbsp; 
							<a class="link_entry" href="#">Nhận dạy kèm Toán,Lý,Hóa</a></td>
							<td class="list_row2">&nbsp;</td>
							<td class="list_row2_center">&nbsp;</td>
							<td class="list_row2_center">&nbsp;</td>
						</tr>
						<tr>
							<td class="list_row1">
							<img border="0" src="images/bullet1.gif" width="8" height="7">&nbsp; 
							<a class="link_entry" href="#">Nhận dạy kèm Tiếng Anh</a></td>
							<td class="list_row1">&nbsp;</td>
							<td class="list_row1_center">&nbsp;</td>
							<td class="list_row1_center">&nbsp;</td>
						</tr>
						<tr>
							<td class="list_row2">
							<img border="0" src="images/bullet1.gif" width="8" height="7">&nbsp; 
							<a class="link_entry" href="#">Nhận dạy kèm Toán,Hóa, Sinh</a></td>
							<td class="list_row2">&nbsp;</td>
							<td class="list_row2_center">&nbsp;</td>
							<td class="list_row2_center">&nbsp;</td>
						</tr>
						<tr>
							<td class="list_row1">
							<img border="0" src="images/bullet1.gif" width="8" height="7">&nbsp; 
							<a class="link_entry" href="#">Gia sư Hà Nội</a></td>
							<td class="list_row1">&nbsp;</td>
							<td class="list_row1_center">&nbsp;</td>
							<td class="list_row1_center">&nbsp;</td>
						</tr>
						<tr>
							<td class="list_row2">
							<img border="0" src="images/bullet1.gif" width="8" height="7">&nbsp; 
							<a class="link_entry" href="#">Trung tâm dạy Toán - Văn - Anh(lớp 1-&gt;5)</a></td>
							<td class="list_row2">&nbsp;</td>
							<td class="list_row2_center">&nbsp;</td>
							<td class="list_row2_center">&nbsp;</td>
						</tr>
						<tr>
							<td class="list_row1">
							<img border="0" src="images/bullet1.gif" width="8" height="7">&nbsp; 
							<a class="link_entry" href="#">Nhận dạy gia sư</a></td>
							<td class="list_row1">&nbsp;</td>
							<td class="list_row1_center">&nbsp;</td>
							<td class="list_row1_center">&nbsp;</td>
						</tr>
						<tr>
							<td class="list_row2">
							<img border="0" src="images/bullet1.gif" width="8" height="7">&nbsp; 
							<a class="link_entry" href="#">Nhận gia sư tiếng Nga</a></td>
							<td class="list_row2">&nbsp;</td>
							<td class="list_row2_center">&nbsp;</td>
							<td class="list_row2_center">&nbsp;</td>
						</tr>
						<tr>
							<td class="list_row1">
							<img border="0" src="images/bullet1.gif" width="8" height="7">&nbsp; 
							<a class="link_entry" href="#">Cô giáo chuyên Văn</a></td>
							<td class="list_row1">&nbsp;</td>
							<td class="list_row1_center">&nbsp;</td>
							<td class="list_row1_center">&nbsp;</td>
						</tr>
						<tr>
							<td class="list_row2">&nbsp;</td>
							<td class="list_row2">&nbsp;</td>
							<td class="list_row2_center">&nbsp;</td>
							<td class="list_row2_center">&nbsp;</td>
						</tr>
						<tr>
							<td class="list_row1">&nbsp;</td>
							<td class="list_row1">&nbsp;</td>
							<td class="list_row1_center">&nbsp;</td>
							<td class="list_row1_center">&nbsp;</td>
						</tr>
						<tr>
							<td class="list_row2">&nbsp;</td>
							<td class="list_row2">&nbsp;</td>
							<td class="list_row2_center">&nbsp;</td>
							<td class="list_row2_center">&nbsp;</td>
						</tr>
						<tr>
							<td class="list_row1">&nbsp;</td>
							<td class="list_row1">&nbsp;</td>
							<td class="list_row1_center">&nbsp;</td>
							<td class="list_row1_center">&nbsp;</td>
						</tr>
					</table>
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>
					<table border="0" width="100%" id="table35" cellspacing="0" cellpadding="0">
						<tr>
							<td>Xem&nbsp; <select size="1" name="D2">
						<option selected>15
						</option>
						<option>20</option>
						<option>25</option>
						<option>30</option>
						</select>&nbsp; tin</td>
							<td class="cellright">
							<table border="0" width="45%" id="table36" cellspacing="0" cellpadding="2">
								<tr>
									<td>
									<img border="0" src="images/b_pageprevious_invi.gif" width="17" height="17"></td>
									<td>Trang</td>
									<td><input type="text" name="T5" size="3" class="input_page" value="1"></td>
									<td>của tổng cộng <span class="text_orange">100</span> trang</td>
									<td>
									<img border="0" src="images/b_pagenext.gif" width="17" height="17"></td>
								</tr>
							</table>
							</td>
						</tr>
					</table>
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>
					<table border="0" width="100%" id="table41" cellspacing="0" cellpadding="0" class="cate_bottom">
						<tr>
							<td class="cellcenter">
					<table border="0" width="95%" id="table42" cellspacing="0" cellpadding="0">
						<tr>
							<td class="celltop catesub_list">
							<span class="text_orange">Gia sư</span><br>
							<a class="link_cate_bottom" href="#">Thu ngân/Phát tờ rơi</a><br>
							<a class="link_cate_bottom" href="#">Lập trình viên/DBA</a><br>
							<a class="link_cate_bottom" href="#">Lập trình Web/Web admin</a><br>
							<a class="link_cate_bottom" href="#">Network/System</a> </td>
							<td class="celltop catesub_list">
							<a class="link_cate_bottom" href="#">Kế toán/Tài chính</a><br>
							<a class="link_cate_bottom" href="#">Ngân hàng/Chứng khoán</a><br>
							<a class="link_cate_bottom" href="#">PR/Marketing</a><br>
							<a class="link_cate_bottom" href="#">Sale/Quản lý/Trợ lý</a></a><br>
							<a class="link_cate_bottom" href="#">Thư ký/Văn phòng</td>
							<td class="celltop catesub_list">
							<a class="link_cate_bottom" href="#">Tư vấn luật</a><br>
							<a class="link_cate_bottom" href="#">Thiết kế mỹ thuật, web</a><br>
							<a class="link_cate_bottom" href="#">Biểu diễn nghệ thuật</a><br>
							<a class="link_cate_bottom" href="#">Dịch thuật/Đánh máy</a><br>
							<a class="link_cate_bottom" href="#">Y sỹ/Phòng mạch</a> </td>
							<td class="celltop catesub_list">
							<a class="link_cate_bottom" href="#">NGO/Nước ngoài</a><br>
							<a class="link_cate_bottom" href="#">Salon/Spa/Nails</a><br>
							<a class="link_cate_bottom" href="#">Tiếp tân/Bồi bàn</a><br>
							<a class="link_cate_bottom" href="#">Bảo vệ/Bán hàng</a></td>
						</tr>
						<tr>
							<td class="cellcenter cate_orange" colspan="4">
							<a class="link_cate_orange" href="#">Cộng 
							đồng</a>&nbsp;&nbsp; |&nbsp;&nbsp; 
							<a class="link_cate_orange" href="#">Nhà trọ</a>&nbsp;&nbsp;&nbsp;&nbsp; | 
							<a class="link_cate_orange" href="#">Dịch vụ tiện ích</a>&nbsp;&nbsp; |&nbsp;&nbsp; 
							<a class="link_cate_orange" href="#">Việc làm </a>&nbsp; |&nbsp;&nbsp; 
							<a class="link_cate_orange" href="#">Mua/bán</a></td>
						</tr>
					</table>
							</td>
						</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
			</table>
			</td>
			<td width="10">&nbsp;</td>
			<td width="200" class="celltop">
			<table border="0" width="100%" id="table11" cellspacing="0" cellpadding="0">
				<tr>
					<td>
					<table border="0" width="100%" id="table12" cellspacing="0" cellpadding="0" class="table_tintuc">
						<tr>
							<td class="head_tintuc" colspan="2">&nbsp;</td>
						</tr>
						<tr>
							<td class="listnew_icon celltop" width="3%">
							<img border="0" src="images/bullet3.gif" width="5" height="10"></td>
							<td class="listnew_text" width="87%">
							<a class="link_new" href="#">fgfugfig lghf 
							fgh kfjghf gjkh fkgjhf gjkh kjfhg kjhg jkfgh jkfgh 
							fkjghfk gjkfhg</a></td>
						</tr>
						<tr>
							<td class="listnew_icon celltop" width="3%">
							<img border="0" src="images/bullet3.gif" width="5" height="10"></td>
							<td class="listnew_text" width="87%">
							<a class="link_new" href="#">fgfugfig lghf 
							fgh kfjghf gjkh fkgjhf gjkh kjfhg kjhg jkfgh jkfgh 
							fkjghfk gjkfhg</a></td>
						</tr>
						<tr>
							<td class="listnew_icon celltop" width="3%">
							<img border="0" src="images/bullet3.gif" width="5" height="10"></td>
							<td class="listnew_text" width="87%">
							<a class="link_new" href="#">fgfugfig lghf 
							fgh kfjghf gjkh fkgjhf gjkh kjfhg kjhg jkfgh</a> </td>
						</tr>
						<tr>
							<td class="cellright cell_xemthem" width="90%" colspan="2">
							<a class="link_more" href="#">xem thêm</a>&nbsp;
							<img border="0" src="images/bullet1.gif" width="8" height="7"></td>
						</tr>
						<tr>
							<td width="90%" colspan="2">
							&nbsp;</td>
						</tr>
					</table>
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td class="cellcenter">
					<img border="0" src="images/logo_chat.gif" width="200" height="100"></td>
				</tr>
				<tr>
					<td class="cellcenter">&nbsp;</td>
				</tr>
				<tr>
					<td class="cellcenter">
					<img border="0" src="images/logo_banner1.gif" width="190" height="58"></td>
				</tr>
				<tr>
					<td class="cellcenter">&nbsp;</td>
				</tr>
				<tr>
					<td class="cellcenter">
					<img border="0" src="images/logo_banner2.gif" width="190" height="53"></td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td width="760" class="celltop">
			&nbsp;</td>
			<td width="10">&nbsp;</td>
			<td width="200" class="celltop">
			&nbsp;</td>
		</tr>
	</table>
</div>

<table border="0" width="100%" id="table29" cellspacing="0" cellpadding="0" class="table_footer">
	<tr>
		<td>Lượt truy cập thứ: <span class="text_orange">001000</span></td>
		<td class="cellright">© Bản quyền 2008 Etvee</td>
	</tr>
</table>

</body>

</html>